
.category {
    width: 800px;
    margin: auto;
}

.category-list {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(6, 1fr);
    margin-bottom: 10px;
}

.category-element {
    width: 100px;
    padding: 5px;
    color: #9eb3ff;
    border: 2px solid #9eb3ff;
    padding-bottom: 10px;
    text-align: center; 
    margin-bottom: 15px;
    border-radius: 30px;
    cursor: pointer;
    transition: all .1s ease-in-out;
}

.category-element:hover {
   color: white;
   background-color: transparent;
   border-color: white;
   cursor: pointer;
}

.category-element:active{
   transform: scale(1.05);
   background-color: white;
}

@media screen and (max-width: 1000px) {
     .category-list {
     grid-template-columns: repeat(3, 120px);
     grid-template-rows: 50px 50px;
     justify-items: center;
     grid-gap: 5px;
   }

   .category{
       width: auto;
       display: flex;
       align-items: center;
       justify-content: center;
   }

   .titleNews{
     font-size: 20px;
   }
}

@media screen and (max-width: 400px){
  .category-list {
    grid-template-columns: repeat(2, 140px);
  }
}

  .category-element-0:hover{
    color: rgb(252, 211, 30);
    border-color: rgb(252, 211, 30);
  }

  .category-element-1:hover {
    color: rgb(255, 0, 0);
    border-color: rgb(255, 0, 0);
  }

  .category-element-2:hover {
    color: rgb(61, 216, 255);
    border-color: rgb(61, 216, 255);
  }

  .category-element-3:hover {
    color: rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
  }

  .category-element-4:hover {
    color: rgb(174, 53, 255);
    border-color: rgb(174, 53, 255);
  }

  .category-element-5:hover {
    color: rgb(9, 255, 0);
    border-color: rgb(9, 255, 0);
  }