.Tile{
  width: 27vw;
  height: 18vw;
  font-size: 1.7vw; 
  border-style: double;
  border-width: thick;
  display: inline-block;
  position: relative;
  overflow: hidden;
  flex-direction: column;
  border-radius: 20px;
  padding: 5px;
  transition: ease-in-out 0.2s;

  animation: tile-move .5s ease-in-out;
}

.imgNews{  
  display: block;
  position: absolute;
  background-color: black;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  z-index: 1;
  opacity: .7;
  border: solid 1px #9eb3ff;
}

.titleNews{
  position: absolute;
  font-size: 30px;
  padding: 10px;
  text-align: left;
  opacity: 0;
  z-index: 2;
  color: #9eb3ff;
  text-shadow:  1px 1px black;
}

.descriptionNews{
  position: absolute;
  bottom: 10px;
  opacity: 0;
  font-size: 20px;
  padding: 10px;
  z-index: 2;
  color: white;
  transition: all .5s ease-in-out;
}

.Tile:hover{  
  cursor: pointer;
  filter: brightness(1.1);
}

.Tile:hover > .titleNews{
  opacity: 1;
}

.Tile:hover > .descriptionNews{
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.623);
}

@media screen and (max-width: 1700px) {
  .titleNews{
    font-size: 22px;
  }
}

@media screen and (max-width: 1200px) {
   .Tile {
     width: 40vw;
     height: 25vw;
   }

   .titleNews{
     font-size: 18px;
   }
}

@media screen and (max-width: 1000px) {
     .Tile {
     width: 70vw;
     height: 40vw;
     margin-bottom: 10px;
   }

   .titleNews{
     font-size: 20px;
   }
}

.loading {
  height: 100vh;
  width: 100vw;
  color: #9eb3ff;
  text-align: center;
  font-size: 80px;
  margin-top: 200px;
}

@keyframes tile-move{
  from{
    opacity: 0;
  }
}