.searchBar {
    background-color: #333;
    padding-top: 20px;
    padding-bottom: 10px;
    width: 100%;
    text-align: center;
    left: 0;
    top: 0;
    z-index: 10;
}

.searchBar .searchBarInput {
    box-sizing: border-box;
    background-color:  #333;
    border: none;
    border-bottom: solid 2px rgba(255,255,255, 0.5);
    width: 35%;
    font-size: 26px;
    color: rgba(255,255,255,0.8);
    outline: none;
    margin: 10px;
    min-width: 300px;
}

.search.icon {
    color: #000;
    position: absolute;
    margin-top: 2px;
    margin-left: 3px;
    width: 18px;
    height: 18px;
    border: solid 1px currentColor;
    border-radius: 100%;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .search.icon:before {
    content: '';
    position: absolute;
    top: 12px;
    left: 5px;
    height: 6px;
    width: 1px;
    background-color: currentColor;
  }

 .fa-search {
    color: solid 2px rgba(255,255,255, 0.5);
  }