
  @media screen and (max-width: 756px){

    .word1{
      width: 45%;
      text-align: right;
    }
    
    .word2 {
      width: 45%;
      text-align: left;
    }
  }

  @keyframes show{
    from{
      opacity: 0;
    }
    to{
      opacity: 1;
    }
  }

  .word1{
    animation-delay: .2s;
  }

  .word2 {
   animation-delay: .4s;
  }

  .word3 {
   animation-delay: .6s;
  }

  .word4 {
    animation-delay: .8s;
  }

  .word5 {
    animation-delay: 1s;
  }

  @keyframes category-move{
    0%{
      opacity: 0;
      filter: brightness(2);
    }
    100%{
      opacity: 1;
    }
  }

  #element-0{
    animation-delay: 1.05s;
  }

  #element-1 {
    animation-delay: 1.15s;
  }

  #element-2 {
    animation-delay: 1.25s;
  }

  #element-3 {
    animation-delay: 1.15s;
  }

  #element-4 {
    animation-delay: 1.25s;
  }

  #element-5 {
    animation-delay: 1.35s;
  }

  #element-0:hover{
    background-color: rgb(233, 199, 51);
  }

  #element-1:hover {
    background-color: rgb(255, 0, 0);
  }

  #element-2:hover {
    background-color: rgb(61, 216, 255);
  }

  #element-3:hover {
    background-color: rgb(189, 189, 189);
  }

  #element-4:hover { 
    background-color: rgb(174, 53, 255);
  }

  #element-5:hover {
    background-color: rgb(30, 204, 24);
  }
